.Layout
    display flex
    padding .5em
    margin .5em
    test(brown)
    flex-direction column
    min-height 100vh
    justify-content space-between
    background-image url('../images/city.jpg')
    background-size cover
    > section
        margin .5em
    &-main
        display flex
        justify-content space-between
    &-status
        test(green)
        width 200px
        
    &-battle
        test(orange)
        flex 1
        margin 0 .5em
        background-image url('../images/pattern.jpg')
    &-phases
        test(purple)
        width 200px
        position relative
    &-antagonist
        test(aquamarine)
        display flex
        justify-content space-between
    &-player
        test(gray)
        display flex
        justify-content space-between
        