div(class="Card "+clase)
    div(class="Card-container")
        h2(class="Card-name") Wolverine
        img(src="./public/images/wolverine.jpg", alt="wolverine", class="Card-image")
        div(class="Card-description") Wolverine es muy poderoso
        div(class="Card-attack") 500 puntos de ataque
    div(class="Card-backface") 