test(color= red)
    border 1px solid color
    box-sizing border-box
    

@import "nib"
@import "./card/styles.styl"
@import "./layout/styles.styl"
@import "./status/styles.styl"
@import "./phases/styles.styl"
@import "./battle/styles.styl"

body
    font-family Arial
    font-size 16px
    margin 0





