doctype html
html(lang="es")
  head
    meta(charset="UTF-8")
    title Marvel Game Card
    link(rel="stylesheet", href="./public/css/app.css")
  body
    .app-container
    script(src="public/app.js")
