
.Battle
    padding .5em
    &-antagonist
        display flex
        justify-content space-between
        > div
            margin 10px
    &-player
        display flex
        justify-content space-between
        > div
            margin 10px