div(class="Battle")
    - clase = ""
    div(class="Battle-antagonist")
        each card in [1,2,3,4,5]
            include ../card/template.jade
    div(class="Battle-player")
        each card in [1,2,3,4,5]
            include ../card/template.jade