.Status
    background orange
    
    &-player
        background red
        padding .5em
        color white
        margin 0
    &-points
        text-align center
        padding .5em
        margin 0
        